# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/public/front-app/node_modules
/public/front-app/.pnp
/public/front-app/.pnp.js

# testing
/public/front-app/coverage

# production
/public/front-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
