
.logo{
  max-width: 100%;
  height: 200px;
  background-image: url(./imagens/bk3.svg);
  background-position: 0px 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bk{
  height: 100vh;  
  background-image: url(./imagens/bk3.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.titulo{
  position: relative;
  left: 43%;
}
